<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>JavaScript - Drag and Drop Demo</title>
    <link rel="stylesheet" href="../static/style.css">
    <title>home</title>
</head>
<body>
<form id="data-send" name="data-send">

        <input type="button" value="End" onclick="location.href = '/first_page';"/>
    </form>
</body>
</html>