<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <title>JavaScript - Drag and Drop Demo</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
    <form id="data-send" name="data-send">

        <button onclick="test()" type="button" class="btn btn-primary">End</button>
    </form>
    <h1>Drag and Drop</h1>
    <div class="drop-targets">

        <div class="cart">
            <img id="drop_cart" data-target-id="grocery" src="../static/shopping-cart.png">
        </div>
    </div>

    <div class="object">
        <div class="item">
            <img id="apple" data-source-id="grocery" src="../static/apple.png">
        </div>
        <div class="item">
            <img id="orange" data-source-id="grocery" src="../static/orange.png">
        </div>
        <div class="item">
            <img id="cherry" data-source-id="grocery" src="../static/cherries.png">
        </div>
        <div class="item">
            <img id="pineapple" data-source-id="grocery" src="../static/pineapple.png">
        </div>
    </div>
    <div class="object">
        <div class="item">
            <img id="ruler" data-source-id="school" src="../static/ruler.png">
        </div>
        <div class="item">
            <img id="pencil" data-source-id="school" src="../static/pencil.png">
        </div>
        <div class="item">
            <img id="eraser" data-source-id="school" src="../static/eraser.png">
        </div>
        <div class="item">
            <img id="crayon" data-source-id="school" src="../static/crayons.png">
        </div>
    </div>

</div>

<button type="submit" id="request" onclick="doAction(this)">End</button>

</body>
<script src="../static/app.js"></script>

</html>